<div class="diff-legend">
  <span class="legend-badge added">+{{ addedCount }} añadidas</span>
  <span class="legend-badge removed">-{{ removedCount }} eliminadas</span>
</div>
<div class="diff-container">
  <table>
    <tbody>
      @for (line of lines; track line) {
        <tr [ngClass]="line.type">
          <td class="line-number">{{ line.leftLineNumber ?? ' ' }}</td>
          <td class="line-number">{{ line.rightLineNumber ?? ' ' }}</td>
          <td class="line-content">
            <span class="change-type">{{ getChangeTypeSymbol(line.type) }}</span>
            {{ line.content }}
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>
