.input-container {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  .input-container {
    flex-direction: column;
  }
}
button {
  display: block;
  margin: 20px auto 0;
}
mat-card {
  margin-bottom: 20px;
}
